<ul ng-if="$ctrl.videoCount" class="pagination">
  <li ng-class="{disabled:$ctrl.currentPage === 1}">
    <button class="btn btn-light shadow-sm pagination" ng-click="$ctrl.setPage(1)">First</button>
  </li>
  <li ng-class="{disabled:$ctrl.currentPage === 1}">
    <button class="btn btn-light shadow-sm pagination" ng-click="$ctrl.setPage($ctrl.currentPage - 1)">Previous</button>
  </li>
  <li ng-repeat="page in $ctrl.pages" ng-class="{active:$ctrl.currentPage === page}">
    <button class="btn btn-light shadow-sm pagination" ng-click="$ctrl.setPage(page)">{{page}}</button>
  </li>
  <li ng-class="{disabled:$ctrl.currentPage === $ctrl.totalPages}">
    <button class="btn btn-light shadow-sm pagination" ng-click="$ctrl.setPage($ctrl.currentPage + 1)">Next</button>
  </li>
  <li ng-class="{disabled:$ctrl.currentPage === $ctrl.totalPages}">
    <button class="btn btn-light shadow-sm pagination" ng-click="$ctrl.setPage($ctrl.totalPages)">Last</button>
  </li>
</ul>