<div ng-if="$ctrl.mode">
  <div class="row justify-content-center">
    <div class="col-2">
      <img class="img-fluid" ng-src="{{$ctrl.thumb}}">
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12 text-truncate">
          <span class="title">{{$ctrl.title}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-truncate">
          <span class="channel">{{$ctrl.author}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!$ctrl.mode">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <img class="img-fluid" ng-src="{{$ctrl.thumb}}">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="row">
        <div class="col-12 text-truncate">
          <span class="title">{{$ctrl.title}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="channel">{{$ctrl.author}}</span>
        </div>
      </div>
    </div>
  </div>
</div>