<div class="container">
  <div class="row justify-content-center mb-3" ng-if="$ctrl.items.length == 0">
    <div class="col-12 mt-4">
      <div class="karta text-center">
        History is empty
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3" ng-if="$ctrl.items.length > 0">
    <div class="col-12">
      <div ng-if="$ctrl.listMode">
        <div class="row" ng-repeat="item in $ctrl.items track by $index">
          <div class="col-12 mt-4">
            <div class="main">
              <history-single video="item" mode="$ctrl.listMode"></history-single>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 mt-4">
            <!-- pager -->
            <paginator count="$ctrl.historyCount">
              </pagination>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.listMode">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 mt-4" ng-repeat="item in $ctrl.items track by $index">
            <div class="main">
              <history-single video="item" mode="$ctrl.listMode"></history-single>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 mt-4">
            <!-- pager -->
            <paginator count="$ctrl.historyCount">
              </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>